*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/gradle.properties
/gradlew
/gradlew.bat
.idea/caches/
.idea/codeStyles/
.idea/google-java-format.xml
.idea/gradle.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml
app/libs/
app/proguard-rules.pro
app/src/main/java/com/ay3524/rxmvpdagger/data/db/
gradle/
settings.gradle
